<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-posta Gövdesi İzleyici</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen w-screen flex items-center justify-center bg-gray-100">
    <div class="w-full h-full p-4">
      <div
        class="h-full w-full overflow-auto border border-gray-300 rounded-lg shadow-lg bg-white"
      >
        <table class="w-full h-full table-fixed border-collapse">
          <thead class="h-16">
            <tr class="bg-gray-800 text-white text-lg">
              <th class="py-3 px-4 border border-gray-300">IST NO</th>
              <th class="py-3 px-4 border border-gray-300">IST ADI</th>
              <th class="py-3 px-4 border border-gray-300">IST DURUS ADI</th>
              <th class="py-3 px-4 border border-gray-300">Bildirim Zamanı</th>
            </tr>
          </thead>
          <tbody
            id="email-body"
            class="text-center text-[30px] text-white h-full font-bold tracking-[.1em]"
          ></tbody>
        </table>
      </div>
    </div>

    <script>
      function updateEmails() {
        fetch("/update")
          .then((response) => response.json())
          .then((data) => {
            const emailBody = document.getElementById("email-body");
            emailBody.innerHTML = "";
            data.emails.forEach((email) => {
              const status = email["IST DURUS ADI"];
              let rowClass = "bg-green-500"; // Varsayılan yeşil arka plan

              if (
                [
                  "Bekleniyor",
                  "630'luk Sehpa Arizasi",
                  "1250'lik Sehpa Arizasi",
                ].some((s) => status.includes(s))
              ) {
                rowClass = "bg-red-800 animate-pulse"; // Kırmızı ve yanıp sönen
              } else if (status.includes("TREX CALISANI GELSIN")) {
                rowClass = "bg-yellow-500"; // Sarı ama yanıp sönmeyen
              }

              const row = document.createElement("tr");
              row.className = rowClass;
              row.innerHTML = `
                <td class="py-6 px-6 border border-gray-300">${email["IST NO"]}</td>
                <td class="py-6 px-6 border border-gray-300">${email["IST ADI"]}</td>
                <td class="py-6 px-6 border border-gray-300">${email["IST DURUS ADI"]}</td>
                <td class="py-6 px-6 border border-gray-300">${email["Zaman"]}</td>
              `;
              emailBody.appendChild(row);
            });
          });
      }
      setInterval(updateEmails, 10000);
    </script>
  </body>
</html>
